<div class="abc" style="float: left; margin-left: 15%; margin-right:15%; width: 70%">
    <h2>Barcode summary</h2>
    <div class="has_desc"></div>
    <div class="box">
        <table style="float: left; margin-left: 0; margin-right:0; width: 100%">
            {% for key, value in barcode_summary.items() %}
                <tr>
                    <td>{{ key|e }}</td>
                    <td>{{ value|e }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="clear"></div>
        <div class="description" style="display: none;">
            <p>SampleName：样本名称</p>
            <p>Number of Reads：原始数据中的总Reads数</p>
            <p>Valid Reads：过滤后的Reads数目及比例</p>
            <p>Valid Barcodes：Barcode序列校正后和whitelist一致的read数目</p>
            <p>Q30 of Barocdes：基于Barcode的分数，大于30的比率</p>
            <p>Q30 of UMIs：基于UMI的分数，大于30的比率</p>
            <p>Reads without polyT：Read1序列中不包含polyT的Reads数目及比例</p>
            <p>Reads with lowQual：Barocde和UMI序列中包含大于1个碱基质量值低于14的Reads数目及比例</p>
            <p>Reads without linker：Read1序列中不包含linker的Reads数目及比例</p>
            <p>Reads without Barcode：Read1序列中不包含Barcode的Reads数目及比例</p>
            <p>Reads with corrected Barcode: 校正Barcode的Reads数目</p>
        </div>
    </div>
</div>
