<div class="abc" style="float: left; margin-left: 15%; margin-right:15%; width: 70%">
    <h2>cell qc summary</h2>
    <div class="has_desc"></div>
    <div class="box">
        <table style="float: left; margin-left: 0; margin-right:3%; width: 47%">
            {% for key, value in cluster_img.items() %}
                <p>{{ key }}</p>
                <img src="data:image/png;base64, {{ value }}" alt="{{ key }}" width=40%>
            {% endfor %}
            <br>
        </table>
        <div class="clear"></div>
        <div class="description" style="display: none;">
            <p>highest_expr_genes：所有细胞中表达量最高的一些基因在每个细胞中表达比例</p>
            <p>violin：横轴为样本名称，纵轴为数目（比例），内部Violin图表示该数目下的密度分布。图1：基因表达数目分布；图2: 细胞基因数目分布；图3：线粒体基因含量分布</p>
            <p>scatter_pct_mt：pct_counts_mt</p>
            <p>scatter_n_genes：n_genes_by_counts</p>
            <p>filter_genes_dispersion：filter_genes_dispersion</p>
            <p>umap_leiden：umap_leiden</p>
            <p>umap_louvain：umap_louvain</p>
        </div>
    </div>
</div>
